*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.temp{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.board-cont{
    width: 500px;
    height: 500px;
    .board{
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        display: flex;
        border: 3px black solid;
        .squares{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            flex-direction: column;
            width: 100%;

            .square{
                text-align: center;
                justify-content: space-evenly;
                width: 100%;
                height: 61px;
                margin: auto;
                display: flex;
                align-items: center;
                .playerImg{
                    cursor: pointer;
                }
            }
        }
    }
}
.black{
    background-color: black !important;
}